
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'calculator.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'calculator.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'calculator.firstNumber' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="1" [disabled]="true" placeholder="{{'calculator.firstNumber' | translate}}" [ngModel]="item.firstNumber"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'calculator.secondNumber' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'calculator.secondNumber' | translate}}" [ngModel]="item.secondNumber"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'calculator.operation' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'calculator.operation' | translate}}" autofocus  id="3" [ngModel]="item.operation">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'calculator.result' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'calculator.result' | translate}}" [ngModel]="item.result"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



